<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.composetesting">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeTesting"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="locked"
            android:theme="@style/Theme.ComposeTesting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MoreActivities -->

        <activity
            android:name=".more.MoreActivity"
            android:exported="false"
            android:screenOrientation="locked" />

        <!-- BarsActivity -->

        <activity
            android:name=".bars.BarsActivity"
            android:exported="false"
            android:screenOrientation="locked" />

        <!-- RecyclerViewAndColumnsActivity -->

        <activity
            android:name=".recyclerviewandcolumns.RecyclerViewAndColumnsActivity"
            android:exported="false"
            android:screenOrientation="locked" />

        <!-- LayoutActivity -->

        <activity
            android:name=".layouts.LayoutActivity"
            android:exported="false"
            android:screenOrientation="locked" />

        <!-- ButtonsAndTextsActivity -->

        <activity
            android:name=".buttonsandtexts.ButtonsAndTextsActivity"
            android:exported="false"
            android:screenOrientation="locked" />

        <!-- ConstraintLayout Activities -->

        <activity
            android:name=".layouts.constraintlayout.ConstraintLayoutViewActivity"
            android:exported="false"
            android:screenOrientation="locked" />

        <activity
            android:name=".layouts.constraintlayout.ConstraintLayoutComposeActivity"
            android:exported="false"
            android:screenOrientation="locked" />

        <!-- LinearLayout Activities -->

        <activity
            android:name=".layouts.linearlayout.LinearLayoutViewActivity"
            android:exported="false"
            android:screenOrientation="locked" />

        <activity
            android:name=".layouts.linearlayout.LinearLayoutComposeActivity"
            android:exported="false"
            android:screenOrientation="locked" />

        <!-- FrameLayout Activities -->

        <activity
            android:name=".layouts.framelyout.FrameLayoutViewActivity"
            android:exported="false"
            android:screenOrientation="locked" />

        <activity
            android:name=".layouts.framelyout.FrameLayoutComposeActivity"
            android:exported="false"
            android:screenOrientation="locked" />

        <!-- GridLayout Activities -->

        <activity
            android:name=".layouts.gridlayout.GridLayoutViewActivity"
            android:exported="false"
            android:screenOrientation="locked" />

        <activity
            android:name=".layouts.gridlayout.GridLayoutComposeActivity"
            android:exported="false"
            android:screenOrientation="locked" />

        <!-- Button Activities -->

        <activity
            android:name=".buttonsandtexts.button.ButtonViewActivity"
            android:exported="false"
            android:screenOrientation="locked" />

        <activity
            android:name=".buttonsandtexts.button.ButtonComposeActivity"
            android:exported="false"
            android:screenOrientation="locked" />

        <!-- Text Activities -->

        <activity
            android:name=".buttonsandtexts.text.TextViewActivity"
            android:exported="false"
            android:screenOrientation="locked" />

        <activity
            android:name=".buttonsandtexts.text.TextViewComposeActivity"
            android:exported="false"
            android:screenOrientation="locked" />

        <!-- TextField Activities -->

        <activity
            android:name=".buttonsandtexts.textfield.TextFieldViewActivity"
            android:exported="false"
            android:screenOrientation="locked" />

        <activity
            android:name=".buttonsandtexts.textfield.TextFieldComposeActivity"
            android:exported="false"
            android:screenOrientation="locked" />

        <!-- ToggleButton Activities -->

        <activity
            android:name=".buttonsandtexts.togglebutton.ToggleButtonViewActivity"
            android:exported="false"
            android:screenOrientation="locked" />

        <activity
            android:name=".buttonsandtexts.togglebutton.ToggleButtonComposeActivity"
            android:exported="false"
            android:screenOrientation="locked" />

        <!-- RadioGroup Activities -->

        <activity
            android:name=".buttonsandtexts.radiogroups.RadioGroupComposeActivity"
            android:exported="false"
            android:screenOrientation="locked" />

        <activity
            android:name=".buttonsandtexts.radiogroups.RadioGroupViewActivity"
            android:exported="false"
            android:screenOrientation="locked" />

        <!-- RecyclerViewAndColumns Activities -->

        <activity
            android:name=".recyclerviewandcolumns.RecyclerViewActivity"
            android:exported="false"
            android:screenOrientation="locked" />

        <activity
            android:name=".recyclerviewandcolumns.ColumnComposeActivity"
            android:exported="false"
            android:screenOrientation="locked" />

        <!-- Toolbar Activities -->

        <activity
            android:name=".bars.toolbar.ToolbarComposeActivity"
            android:exported="false"
            android:screenOrientation="locked" />

        <activity
            android:name=".bars.toolbar.ToolbarViewActivity"
            android:exported="false"
            android:screenOrientation="locked" />

        <!-- BottomAppBar Activities -->

        <activity
            android:name=".bars.bottomappbar.BottomAppBarComposeActivity"
            android:exported="false"
            android:screenOrientation="locked" />

        <activity
            android:name=".bars.bottomappbar.BottomAppBarViewActivity"
            android:exported="false"
            android:screenOrientation="locked" />

        <!-- CustomView Activities -->

        <activity
            android:name=".more.custom.CustomViewViewActivity"
            android:exported="false"
            android:screenOrientation="locked" />

        <activity
            android:name=".more.custom.CustomViewComposeActivity"
            android:exported="false"
            android:screenOrientation="locked" />

    </application>

</manifest>